@{
    ViewData["Title"] = "Tim Geens";
}

<body>
    <!--Profiel-->
    <section class="profile-section" id="about">
        <div class="profile-image-container">
            <div class="profile-image">
                <img src="img/Tim_Geens.png" alt="Foto van Tim">
            </div>
            <div class="profile-cv">
                <a href="files/CV_Tim_Geens.pdf" download class="btn">
                    <i class="bi bi-download me-2"></i>Download CV
                </a>
            </div>
        </div>
        <div class="profile-text">
            <p>
                Hey, ik ben Tim uit Turnhout, een gemotiveerde junior softwareontwikkelaar bij wie de klant centraal staat. Met mijn kennis van C#, .NET, React 
                en Unity wil ik leuke en gebruiksvriendelijke projecten maken.
                <br>
                <br>
                Na jaren werken in de retail heb ik toch besloten om mijn passie te volgen. 
                Van kinds af aan droomde ik van mijn eigen spellen, dus in plaats van ze alleen te spelen, ben ik ze ook zelf gaan programmeren.
                Het programmeren zelf vond ik zo leuk dat ik er mijn beroep van wilde maken. Daarom ben ik begonnen aan mijn IT-opleiding aan
                Thomas More in Geel. 
                <br>
                <br>
                Zijn jullie op zoek naar een enthousiaste en betrouwbare programmeur? Stuur me dan zeker een berichtje!
            </p>
        </div>
    </section>

    <!--Hard Skills-->
    <section class="grid-section" id="skills">
        <h2>Technische Vaardigheden</h2>
        <div class="card-grid">
            <div class="card">
                <div class="card-title">
                    <i class="bi bi-globe"></i>
                    <h3>Frontend</h3>
                </div>
                <div class="skills">
                    <span class="badge rounded-pill">HTML5</span>
                    <span class="badge rounded-pill">CSS</span>
                    <span class="badge rounded-pill">JavaScript</span>
                    <span class="badge rounded-pill">TypeScript</span>
                    <span class="badge rounded-pill">React</span>
                    <span class="badge rounded-pill">Bootstrap</span>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    <i class="bi bi-hdd-stack"></i>
                    <h3>Backend</h3>
                </div>
                <div class="skills">
                    <span class="badge rounded-pill">C#</span>
                    <span class="badge rounded-pill">ASP.NET Core/MVC</span>
                    <span class="badge rounded-pill">.NET MAUI</span>
                    <span class="badge rounded-pill">REST API's</span>
                    <span class="badge rounded-pill">Entity Framework</span>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    <i class="bi bi-database"></i>
                    <h3>Database</h3>
                </div>
                <div class="skills">
                    <span class="badge rounded-pill">SQL</span>
                    <span class="badge rounded-pill">MS SQL Server</span>
                    <span class="badge rounded-pill">MariaDB</span>
                    <span class="badge rounded-pill">Entity Framework</span>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    <i class="bi bi-gear"></i>
                    <h3>Tools & Others</h3>
                </div>
                <div class="skills">
                    <span class="badge rounded-pill">GIT</span>
                    <span class="badge rounded-pill">Docker</span>
                    <span class="badge rounded-pill">Unity</span>
                    <span class="badge rounded-pill">Visual Studio/VS Code</span>
                    <span class="badge rounded-pill">Scrum/Agile</span>
                </div>
            </div>
        </div>
    </section>

    <!--Projecten-->
    <section class="projects" id="projects">
        <div class="project-title">
            <h2>Mijn Projecten</h2>
        </div>
        <div class="project-card-grid">
            <!-- Eerste kaart -->
            <div class="project-card">
                <a asp-controller="Home" asp-action="Project_1" class="project-card-link">
                <img src="img/Storm_Before_Supper.png" alt="Project afbeelding" class="project-image">
                <div class="project-info">
                    <div class="project-meta">
                        <span><i class="bi bi-people"></i> 2</span>
                        <span><i class="bi bi-clock"></i> 7 Dagen</span>
                        <span><i class="bi bi-tools"></i> Unity</span>
                    </div>
                    <h3 class="project-title">Storm Before Supper (2024)</h3>
                    <p class="project-role">Gameplay Programmer</p>
                    <p class="project-description">
                        Dit is onze tweede gamejam game.  Gemaakt voor de "Brackeys Game Jam 2024.2", met het thema "Calm before the storm".
                    </p>
                </div>
                </a>
            </div>

            <!-- Tweede kaart -->
            <div class="project-card">
                <a asp-controller="Home" asp-action="Project_2" class="project-card-link">
                    <img src="img/Startspeler.png" alt="Project afbeelding" class="project-image">
                <div class="project-info">
                    <div class="project-meta">
                        <span><i class="bi bi-people"></i> 3</span>
                        <span><i class="bi bi-clock"></i> 1 Semester</span>
                        <span><i class="bi bi-tools"></i> .NET MAUI</span>
                    </div>
                    <h3 class="project-title">Project Startspeler (2023)</h3>
                    <p class="project-role">Backend/API Programmer</p>
                    <p class="project-description">
                        Dit is een schoolproject dat we hebben gemaakt voor werkplekleren in het tweede jaar. Het project bestaat uit een mobile app en een desktop app.
                    </p>
                </div>
                </a>
            </div>
            

            <!-- Derde kaart -->
            <div class="project-card">
                <a asp-controller="Home" asp-action="Project_3" class="project-card-link"> 
                <img src="img/Ascending_Ascension.png" alt="Project afbeelding" class="project-image">
                <div class="project-info">
                    <div class="project-meta">
                        <span><i class="bi bi-people"></i> 2</span>
                        <span><i class="bi bi-clock"></i> 10 Dagen</span>
                        <span><i class="bi bi-tools"></i> Unity</span>
                    </div>
                    <h3 class="project-title">Ascending Ascension (2022)</h3>
                    <p class="project-role">Gameplay Programmer</p>
                    <p class="project-description">
                        Dit is onze eerste gamejam game.  Gemaakt voor de "The GameDev.tv Game Jam 2022", met het thema "Death is only the Beginning!".
                    </p>
                </div>
                </a>
            </div>
        </div>
        </section>

    <!--Contact-->
    <section id="contact">
        <div class="contact">
            <div class="contact-title">
                <h2>Contacteer Me</h2>
            </div>
            <div class="contact-buttons">
                <a class="btn btn-lg" href="mailto:timgeens@msn.com?subject=Contact via Portfolio&body" type="button"><i class="bi bi-envelope me-2"></i>Email Me</a>
                <a class="btn btn-lg" href="https://www.linkedin.com/in/tim-geens-934234235/" target="_blank" type="button"><i class="bi bi-linkedin me-2"></i>LinkedIn</a>
                <a class="btn btn-lg" href="https://github.com/Timoca" target="_blank" type="button"><i class="bi bi-github me-2"></i>Github</a>
            </div>
        </div>
    </section>

    <button id="backToTop" class="btn back-to-top">
        ↑ Terug naar boven
    </button>

</body>

