@{
    ViewData["Title"] = "Storm Before Supper";
}

<body>
    <section class="project-detail-startsection">
        <div class="">
            <img src="/img/Storm_Before_Supper.png" alt="Project afbeelding" class="project-detail-image">
        </div>
        <div class="project-detail-titlediscription">
            <h1 class="project-detail-hoofdtitle">Storm Before Supper</h1>
            <div class="project-detail-description">
                <p>
                    Een 3D-game gespeeld vanuit een 2D-perspectief,
                    <br>
                    waarin je binnen een beperkte tijd probeert een zo hoog mogelijke score te behalen.
                    <br>
                    Dit spel is gemaakt als inzending voor de Brackeys Game Jam 2024.2.
                </p>
            </div>
        </div>
    </section>
    
    <h2 class="project-detail-title">Project Overview</h2>
    <div class="">

    </div>
    <h2 class="project-detail-title">Key Features</h2>
    <div class="">

    </div>
    <h2 class="project-detail-title">Development Process</h2>
    <div class="">
    </div>
    <h2 class="project-detail-title">Technologies Used</h2>
    <div class="">
    </div>
    <h2 class="project-detail-title">Galerij</h2>
    <div class="">
    </div>
</body>
