@{
    ViewData["Title"] = "Medieval Archer";
}


<body>
    <!--Foto en korte beschrijving-->
    <section class="project-detail-startsection">
        <div class="">
            <img src="/img/Medieval_Archer.jpg" alt="Logo van Medieval Archer, een pixelart 2D game waarin een horde van mythische monsters moet verslagen en het zo lang mogelijk uithouden." class="project-detail-image">
        </div>
        <div class="project-detail-titlediscription">
            <h1 class="project-detail-hoofdtitle">Medieval Archer</h1>
            <div class="project-detail-description">
                <p>
                    Een pixelart 2D game waarin je een horde van mysthische monsters moet verslagen en het zo lang mogelijk moet uithouden.
                    <br />
                    Dit spel is een schoolproject waarin we individueel een spel naar keuze mochten maken.
                </p>
            </div>
        </div>
    </section>

    <!--lange omschrijving-->
    <h2 class="project-detail-title">Project Overzicht</h2>
    <section class="project-detail-description">
        <p>
            Voor dit schoolproject heb ik en spel in ongeveer een zeven werkdagen ontwikkeld.
            Er waren enkele vereisten zoals bijvoorbeeld een 2D spel, vershillende levels, Power-Ups en highscores.
            Ik had gekozen voor een shoot-em-up spel, een genre waarin je vijanden om je heen neerhaalt en probeert zo lang mogelijk te overleven.
            Mijn doel was om een volledig spel af te leveren, en hoewel het toegestaan was om een tutorial te volgen, heb ik er toch voor gekozen om het hele spel zelf te ontwikkelen.
            Tijdens de ontwikkeling heb ik veel verschillende aspecten aangepakt, zoals het programmeren van vijandelijke AI, het maken van een highscoresysteem en het implementeren van power-ups.
            Eén van de grootste uitdagingen was het balanceren van de gameplay, zodat het spel uitdagend maar niet frustrerend aanvoelde.
            Als game-engine moesten we de Unity Engine gebruiken, een engine waar ik al wel wat meer ervaring mee heb.
            Ik ben trots op het eindresultaat.  Het spel is compleet met muziek, animaties en een degelijke gameplay-loop.
        </p>
    </section>

    <!--Kenmerken-->
    <h2 class="project-detail-title">Belangrijkste Kenmerken</h2>
    <section class="project-keyfeatures-description">
        <ul>
            <li class="project-keyfeatures-listitem">
                <strong>Power-Up systeem: </strong>Ik heb een Power-Up systeem gemaakt waarbij ik op een snelle en schaalbare manier power-ups kan toevoegen aan het spel.
            </li>
            <li class="project-keyfeatures-listitem">
                <strong>Monster Spawner systeem: </strong>Om het spel te voorzien van vijanden, heb ik een monster spawner systeem gemaakt waarin ik de tijdstip, 
                de keuze van monsters, de snelheid van het spawnen en de hoeveelheid monsters kan beïnvloeden.
            </li>
            <li class="project-keyfeatures-listitem">
                <strong>Highscores systeem: </strong>Het spel bevat ook een highscore systeem dat je top vijf highscores, inclusief datum en tijdstip, lokaal bijhoudt.
            </li>
            <li class="project-keyfeatures-listitem">
                <strong>Audio Controller: </strong>Om het spel goed te doen aanvoelen, heb ik een Audio Controller gemaakt dat aan de hand van in welke scene je zit 
                de muziek uitkiest en met een fade-out en fade-in de muziek overschakelt. Alle geluidseffecten gaan ook via deze controller.
            </li>
        </ul>
    </section>

    <!--Mijn rol-->
    <h2 class="project-detail-title">Mijn Rol in het Project</h2>
    <section class="project-detail-description">
        <p>
            Tijdens de ontwikkeling van Medieval Archer was ik verantwoordelijk voor vrijwel alle aspecten van het spel. 
            Ik heb de gameplay ontworpen en geprogrammeerd, inclusief systemen zoals de Power-Ups, de Monster Spawner en het Highscoresysteem. 
            Daarnaast heb ik de volledige gebruikersinterface ontworpen en geïmplementeerd.
            Om de sfeer van het spel te versterken, heb ik ook een audiocontroller toegevoegd die de muziek en geluidseffecten beheert. 
            Hoewel ik niet verantwoordelijk was voor het componeren van de muziek en het maken van de sprites, heb ik ervoor gezorgd dat deze elementen perfect integreerden met de rest van het spel. 
        </p>
    </section>

    <!--Gebruikte tech-->
    <h2 class="project-detail-title">Gebruikte Technologieën</h2>
    <section class="project-keyfeatures-description">
        <ul>
            <li class="project-keyfeatures-listitem">
                <strong>Unity: </strong>
                Gebruikt als game-engine voor het maken van zowel de visuele elementen als de game-logica.
            </li>
            <li class="project-keyfeatures-listitem">
                <strong>Audacity: </strong>
                Voor het bewerken van de audio voor de effecten.
            </li>
            <li class="project-keyfeatures-listitem">
                <strong>Git: </strong>
                Versiebeheer om veranderingen in de code bij te houden.
            </li>
        </ul>
    </section>

    <!--Galerij-->
    <section class="project-detail-galerij">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/Screenshots/Medieval_Archer/Medieval_Archer_Beginning.gif" class="d-block w-100" alt="Een gif van de archer die op hobgoblins schiet in het begin van het spel">
                    <div class="carousel-caption d-none d-md-block">
                        <p>In het begin is het nog makkelijk. Je wordt aangevallen door een paar hobgoblins</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/img/Screenshots/Medieval_Archer/Medieval_Archer_PowerUp.gif" class="d-block w-100" alt="in deze gif loopt de archer over een PowerUp waardoor je sneller kan schieten met je boog">
                    <div class="carousel-caption d-none d-md-block" >
                        <p>Het word al moeilijker.  Maar deze Power-Up maakt het net weer iets makkelijker!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/img/Screenshots/Medieval_Archer/Medieval_Archer_Dead.gif" class="d-block w-100" alt="In deze gif wordt de archer overrompeld door vijanden en sterft.">
                    <div class="carousel-caption d-none d-md-block">
                        <p>Aan alles komt een einde.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <!--buttons-->
    <h2 class="project-detail-title">Bekijk het Project</h2>
    <section class="project-detail-buttons">
        <a class="btn btn-lg" href="https://github.com/Timoca/Medieval-Archer" target="_blank" type="button"><i class="bi bi-github me-2"></i>Github</a>
        <a class="btn btn-lg" href="https://thimoca.itch.io/medieval-archer" target="_blank" type="button"><i class="bi bi-joystick me-2"></i>Itch.io</a>
    </section>

    <button id="backToTop" class="btn back-to-top">
        ↑ Terug naar boven
    </button>

</body>
